#header
  margin: $margin-regular 0 $margin-regular
  text-align: center

  @media screen and (min-width: 640px)
    margin-top: $margin-large

  img
    width: 10rem

  > div
    margin-bottom: $margin-regular

    #name
      font-family: Montserrat, sans-serif
      font-size: $font-size-xxlarge
      margin-bottom: $margin-small
      color: $color-primary-4

    #profession
      font-family: "Roboto Mono", monospace
      font-weight: 300
      font-size: $font-size-large
      color: $color-primary-4
      letter-spacing: (1rem/16)

      @media screen and (min-width: 360px)
        letter-spacing: (4rem/16)


#external-links
  display: flex
  margin: $margin-regular auto
  justify-content: space-evenly
  max-width: (160rem / 16)
  color: $color-primary-0

  a
    flex-grow: 1
    flex-basis: 0
  i
    font-size: $font-size-xlarge

