#header
  padding: 17.5rem 0 5rem
  text-align: center

  > div
    margin-bottom: 3rem

    #name
      font-size: $font-size-xxlarge
      font-weight: 500
      margin-bottom: 1rem
      color: $palette-primary-4

    #profession
      font-size: $font-size-large
      color: $palette-primary-4

#external-links
  display: flex
  margin: 3rem auto
  justify-content: space-evenly
  max-width: (640rem / 16)
  color: $palette-primary-0

  a
    flex-grow: 1
    flex-basis: 0
  i
    font-size: $font-size-xlarge

