#home p
  margin: $margin-regular 0

#greeting
  padding: $padding-large $padding-regular
  margin: 0 ($margin-regular * -1) $margin-large
  font-size: $font-size-xlarge
  text-align: right
  color: $palette-primary-4
  background-color: rgba($palette-primary-5, .20)

#greeting-hr
  border-color: $palette-primary-4
  margin-top: $margin-regular
  margin-bottom: 0
  margin-right: 0
  width: 20%

