#home p
  margin: $margin-regular 0
  line-height: 1.5rem
  text-align: justify

#greeting
  position: relative
  padding: $padding-large $padding-regular
  max-width: (480rem / 16)
  margin: 0 0 $margin-large auto
  font-family: Montserrat, sans-serif
  font-size: $font-size-xlarge
  text-align: right
  color: $color-primary-4

  @media screen and (min-width: 640px)
    font-size: $font-size-xlarge
    letter-spacing: .05rem

  #location
    color: $color-primary-0
    font-weight: 500

#greeting-hr
  border-color: $color-primary-4
  margin-top: $margin-regular
  margin-bottom: 0
  margin-right: 0
  width: 20%

