#language-selector
  position: absolute
  top: 0
  right: 0
  padding: $padding-xsmall

  &, *
    transition: all .1s ease-out

.icon
  margin: 0 auto $margin-small
  padding: 0 $padding-xsmall
  display: block
  font-size: $font-size-xlarge
  text-align: center

.lang-option
  font-size: $font-size-regular
  padding: $padding-small
  width: 100%
  display: block
  text-align: center
  margin: 0 auto $margin-regular
  position: relative

  @media (hover: hover)
    &:hover
      cursor: pointer

  @include themify
    border: 1px solid themed('color-primary')
    background-color: themed('color-background')

.inactive
  .icon
    @include themify
      color: rgba(themed('color-primary'), .6)

.active
  .icon
    @include themify
      color: themed('color-primary')
