#language-selector
  position: absolute
  top: 1rem
  right: 1rem

  *
    vertical-align: middle
    transition: all 0.2s ease-out

  a
    font-size: $font-size-regular
    padding: $padding-small
    border: 1px solid $palette-primary-2
    color: $palette-primary-2
    background-color: rgba(255, 255, 255, 0.9)
    width: 100%
    display: block
    text-align: center
    margin: $margin-regular auto
    position: relative

  i
    margin: 0 auto ($margin-small * -1)
    padding: 0 $padding-xsmall
    display: block
    font-size: $font-size-xlarge
    color: $palette-primary-2
    text-align: center

  a.hidden
    opacity: 0
    transform: translateY(-50%)

  a.shown
    opacity: 1
    transform: translateY(0%)

    @media (hover: hover)
      &:hover
        cursor: pointer
        color: $palette-primary-4
        border-color: $palette-primary-4

  .inactive
    opacity: $opacity-inactive

  .active
    opacity: 1
