@import 'reset'

body
  margin: 0 3rem
  font-family: Montserrat, sans-serif
  font-size: $font-size-regular
  color: $palette-primary-4

#footer
  margin: 3rem auto
  text-align: center
  font-size: $font-size-small
  color: $palette-primary-2
