@import 'reset'

html
  height: 100%

body
  max-width: (720rem / 16)
  margin: auto
  height: 100%

a
  color: $color-primary-0

#root
  padding: $padding-regular
  font-family: Roboto, sans-serif
  font-size: $font-size-regular
  color: $color-primary-4
  position: relative
  height: 100%
  display: flex
  flex-flow: column

#footer
  margin: $margin-large 0
  text-align: center
  font-size: $font-size-small
  color: $color-primary-2
  flex-grow: 1
  vertical-align: bottom
  position: relative

  span
    position: absolute
    bottom: 0
    display: block
    vertical-align: bottom
    left: 50%
    transform: translateX(-50%)
