$margin-xsmall: .25rem
$margin-small: .5rem
$margin-regular: 1rem
$margin-large: 2rem
$margin-xlarge: 4rem
$margin-xxlarge: 8rem

$padding-xsmall: .25rem
$padding-small: $margin-small
$padding-regular: $margin-regular
$padding-large: $margin-large
$padding-xlarge: $margin-xlarge
$padding-xxlarge: 6rem

$font-size-small: .75rem
$font-size-regular: 1rem
$font-size-large: 1.25rem
$font-size-xlarge: 1.75rem
$font-size-xxlarge: 2.25rem

// Palette URL: http://paletton.com/#uid=23D0e0ko7oFehxBjurLrgjXw7eO */
$color-primary-0: #284F81
$color-primary-1: #6684AC
$color-primary-2: #406491
$color-primary-3: #173B68
$color-primary-4: #07264D
$color-primary-5: #DDEBFF

$color-complement-0: #C58C30
$color-complement-1: #FFD48D
$color-complement-2: #DDAA57
$color-complement-3: #9F6B18
$color-complement-4: #764900

$color-warning-0: $color-complement-1

$opacity-inactive: 0.3
