$margin-small: .5rem
$margin-regular: 1rem
$margin-large: 2rem
$margin-xlarge: 4rem

$padding-xsmall: .25rem
$padding-small: $margin-small
$padding-regular: $margin-regular
$padding-large: $margin-large
$padding-xlarge: $margin-xlarge
$padding-xxlarge: 6rem

$font-size-small: .75rem
$font-size-regular: 1rem
$font-size-large: 1.25rem
$font-size-xlarge: 1.5rem
$font-size-xxlarge: 2rem

$palette-primary-0: #284F81
$palette-primary-1: #6684AC
$palette-primary-2: #406491
$palette-primary-3: #173B68
$palette-primary-4: #07264D
$palette-primary-5: #DDEBFF

$opacity-inactive: 0.5
